tmp.py
tmp.txt
tmp.html

key.json
keys.json
key.env
keys.env

/data/__pycache__
/data/wiki_data
/data/tcse_data
/data/question-generation

/scripts/__pycache__
/scripts/notes_metadata
/scripts/notes.html


*.wav
